<%- include('../partials/header') %>

<div class="container center">
    <iframe src="/public/audio/wandering-6394.mp3" allow="autoplay" style="display:none" id="iframeAudio">
    </iframe> 
    <video playsinline preload="auto" autoplay muted loop src="/public/videos/nebulaBackground.mp4" type="video/mp4" id="homeBackground">
    </video>
    <h2 class="h2Search">Favorite's List</h2>
   
</div>

<div class="container center">
    <div class="container row text-center">
       
        <% if (Array.isArray(imageVideo)){ %>
        <% imageVideo.forEach(function (i){ %>

        <% i.imageVideoLib.forEach(function(i){ %>
            
            <div class="card mt-3 me-3 countryCard">
                
                <!-- Add if statment for video or image below. else do video tag -->
                <img src="<%= i.media %>" alt="NASA Image" class="card-img-top mt-3">
                <div class="card-body">
                    <h5 class="card-title"><%= i.title%></h5>
                    <a href="/favorite/<%= i.nasa_id%>" class="btn" value="image">Favorite Details</a>
                    
                </div>
            </div>
           
        <% }) %>
        <%})%>
        <% }else if(!Array.isArray(imageVideo)){ %>
            
                <div class="card mt-3 me-3 countryCard">
                    
                    <!-- Add if statment for video or image below. else do video tag -->
                    <img src="<%= imageVideo.imageVideoLib.media %>" alt="NASA Image" class="card-img-top mt-3">
                    <div class="card-body">
                        <h5 class="card-title"><%= imageVideo.imageVideoLib.title%></h5>
                        <a href="/favorite/<%= imageVideo.imageVideoLib.nasa_id%>" class="btn" value="image">Favorite Details</a>
                    </div>
                </div>
               
            <% //}) %>
        <% } %> 
        
    </div>
</div>

<%- include('../partials/footer') %>