<%- include('../partials/header') %>
<body class="imageVideoIndex">
    

    <video playsinline preload="auto" autoplay muted loop src="/public/videos/ImageVideoBackground.mp4" type="video/mp4" id="homeBackground">
    </video>

<div class="container center">

    <h2 class="h2Search">NASA Image Library Index</h2>

    
</div>

<div class="container center">
    <div class="container row text-center">
        <% imageVideo.collection.items.forEach(function(i){ %>
           
            <% if(i.links){ %>
            <div class="card mt-3 me-3 countryCard">
                <img src="<%= i.links[0].href %>" alt="NASA Image" class="card-img-top mt-3">
                <div class="card-body">
                    <h5 class="card-title"><%= i.data[0].title%></h5>
                    <a href="/imageVideoLib/<%= i.data[0].nasa_id%>" class="btn" value="image">Image Details</a>
                </div>
            </div>
            <% } %>
        <% }) %>
    </div>
</div>
</body>
<%- include('../partials/footer') %>